body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
  color: #e0e0e0;
}

header {
  background-color: #1a73e8;
  color: #fff;
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#searchForm {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#search {
  width: 80%;
  max-width: 37.5rem;
  padding: 0.5rem;
  border: 0.063rem solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #e0e0e0;
}

main {
  flex: 1;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
}

#suggestions {
  background-color: #1e1e1e;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

.suggestion {
  padding: 0.5rem;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #333;
}

#logogram_details {
  background-color: #1e1e1e;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

.word_details_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.logogram_container {
  flex: 0 0 auto;
  margin-right: 1.5rem;
}

.component_item:hover {
  color: #1a73e8;
}

.text_info_container {
  flex: 1 1 auto;
  max-width: calc(100% - 240px);
}

.logogram_picture {
  max-width: 100%;
  max-height: 40rem;
  width: auto;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.text_info_container h2 {
  margin-top: 0;
}

.text_info_container h3 {
  margin-top: 1.5rem;
}

.text_info_container ul {
  margin-top: 0.5rem;
}

.text_info_container ul li {
  margin-bottom: 0.5rem;
}

footer {
  background-color: #1a73e8;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}
